<nav class="navbar navbar-expand-md ">
  <div class="container">
    
   
    <a class="navbar-brand" >
      <img src="assets/images/Tac Logo.png" alt="tech.at.core" class="navbar-logo">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      ☰
    </button>

  
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Learning Path</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Support</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Library</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
