$primary-color: #3498db;
$text-color: #394762;
$hover-color: #005792;


.container{
  justify-content: space-between;
}
.navbar {
  font-family: 'Nunito', sans-serif;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: space-around;

  .navbar-logo {
    height: 50px;
    width: auto;
  }

  .nav-link {
    color: $text-color;
    transition: color 0.3s;

    &:hover {
      background-color: $hover-color; 
      border-radius: 7px;
      color: #ffff;
    }
  }

  .navbar-toggler {
    color: $text-color;
    border: none;
    font-size: 1.5rem;
  }
}

// Customize the navbar menu appearance on large screens
@media (min-width: 768px) {
  .navbar-nav {
    .nav-item {
      margin-right: 30px;
    }
  }
}
