<div class="row" >
  <div #scrollContainer class="scroll-container col-12 col-md-4 ">
    <div class="container">
      <div *ngFor="let path of learningPaths" class="layout "  (click)="goToDepartment(path.department)">
        <div class="text-container m-3">
          <h6 >{{ path.department }}</h6>
          <p>{{ path.description }}</p>
        </div>
        <div class="image-container">
          <img [src]="'assets/images/' + path.image" alt="{{ path.department }}" class="image" />
        </div>
      </div>
     
    </div>
  </div>

  <div class="container col-12 col-md-8"  *ngIf="selectedPath">
    <div class="banner ">
      <img
        [src]="'assets/images/' + selectedPath.image"
        alt="{{ selectedPath.department }}"
        class=" img-fluid"
      />
    </div>
  
    <div class="content mt-3 " >
      <h4>{{ selectedPath.department }}</h4>
      <p>{{ selectedPath.details }}</p>
    </div>
  </div>
   
  
</div>
