@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
$text-color: #005792;


.layout {
    font-size: 0; 
    display: flex;
    justify-content: center;
    font-family: 'Nunito', sans-serif;  
    margin: 20px;
    margin-left: 70px;
    max-height: 600px; 
    padding: 1.5rem;
    width: 450px;

    &:hover{
      background-color: #F8F8FF;
      display: flex;
      justify-content: center;
      border-radius: 10px;
      color: $text-color;
      width: 450px;
      margin-right: 200px;
    
     
    }
    .line {
      width: 2px;
      height: 100px;
      background-color: black;
      display: none; /* Initially hidden */
    }

    
    .container {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
    }
    .container:hover.line{
      display: block;
    }

    p{
      font-size: 12px;
    }

   
  }
  
  .text-container,
  .image-container {
    display: inline-block;
    vertical-align: top; 
    font-size: 14px;
    width: 200px;
    
  }
  
  .image-container .image {
    max-width: 100%; 
    height: 65px !important;
    width: 65px;
    
  }

  .scroll-container {
    padding: 20px;
    max-height: auto; 
    overflow: hidden;
    overflow-y: scroll;
    width: 450px;
   
  }
  .scroll-container::-webkit-scrollbar {
    width: 8px;
    
}

.scroll-container::-webkit-scrollbar-track {
    background: #e0e0e0;
    border-radius: 10px;
}

.scroll-container::-webkit-scrollbar-thumb {
    background-color: #005792;
    border-radius: 10px;
    border: 2px solid #e0e0e0;
    height: 30px; /* Set minimum height */
    transition: height 0.3s ease;
}

.scroll-container:hover::-webkit-scrollbar-thumb {
    min-height: 50px; /* Adjust thumb size on hover */
}

.scroll-container::-webkit-scrollbar-thumb:active {
    background-color: #004c6d;
}

/* Banner */
.banner {
  background-color: #d9d9d9;
  border-radius: 18px;
  max-width: 829px;
  margin-bottom: 15px;
  margin-top: 30px;
  height: 529px;
  
  

}
.img-fluid{
  height: 370px !important;
  width: 100%;
}

/* Ensure the image is responsive */


.content{/* Text styles */
  max-width: 700px;
h4 {
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  margin-left: 20px;

}

p {
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  padding: 0 15px;
}
}

/* Responsive styles */
@media (max-width: 768px) {
  .banner {
    height: auto;
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

@media (max-width: 576px) {
  .content {
    margin-top: 10px;
  }

  h4 {
    font-size: 75px;
    margin-left: 20px;
  }

  p {
    font-size: 12px;
  }
}

.p {
  margin: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}
