<section class="categories">
    <div class="banner">
        <img src="/assets/lorry img/lorries.jpeg">
    </div>
    <div class="container">
        <h1 class="heading">LORRY MODELS</h1>
        <button class="btn btn-primary" (click)="editbike()">Edit</button>
        <button class="btn btn-danger" (click)="deletebike()">Delete</button>
    </div>
    <div class="box-container">
        <div class="box">
            <img (click)="goToPart('card1')" src="/assets/lorry img/Tata Motors.jpg" alt="Tata Motors lorries">
            <h3>Tata Motors Lorries</h3>
        </div>
        <div class="box">
            <img (click)="goToPart('card2')" src="/assets/lorry img/Ashok Leyland.jpg" alt="Ashok Leyland">
            <h3>Ashok Leyland</h3>
        </div>
    </div>
    <div class="box-container">
        <div class="box">
            <img (click)="goToPart('card3')" src="/assets/lorry img/Mahindra lorry.jpg" alt="Mahindra Lorry">
            <h3>Mahindra Lorry</h3>
        </div>
        <div class="box">
            <img (click)="goToPart('card4')" src="/assets/lorry img/Eicher.jpg" alt="Eicher Lorry">
            <h3> Eicher Lorry</h3>
        </div>
    </div>
    <div class="box-container">
        <div class="box">
            <img (click)="goToPart('card5')" src="/assets/lorry img/BharatBenz.jpg" alt="BharatBenz">
            <h3> BharatBenz</h3>
        </div>
        <div class="box">
            <img (click)="goToPart('card6')" src="/assets/lorry img/Volvo.jpg" alt="Volvo">
            <h3> Volvo  </h3>
        </div>
    </div>
    
</section> 

 

<div class="products">
   <div id="card1">
    <h1 class="heading">Tata Motors lorries</h1>
   </div> 
    <div class="boxs-container" >
      <div class="boxs" *ngFor="let product of tataMotorsLorries">
        <img [src]="product.imageUrl">
        <h3>{{ product.title }}</h3>
        <p>{{product.fueltype}}</p>
        <p>{{product.capacity}}</p>
        <p>{{product.Features}}</p>
        <p class="fa fa-rupee">{{ product.price }}</p>
        </div>
    </div> 
</div>    

<div class="items">
    <div id="card2">
     <h1 class="heading">Ashok Leyland</h1>
    </div> 
     <div class="boxs-container" >
       <div class="boxs" *ngFor="let item of ashokLeylandLorries">
         <img [src]="item.imageUrl">
         <h3>{{ item.title }}</h3>
         <p>{{item.fueltype}}</p>
         <p>{{item.capacity}}</p>
         <h4>{{item.Features}}</h4>
    
         <p class="fa fa-rupee">{{ item.price }}</p>
         </div>
     </div> 
 </div>    

 <div class="products">
    <div id="card3">
     <h1 class="heading">Mahindra Lorry</h1>
    </div> 
     <div class="boxs-container" >
       <div class="boxs" *ngFor="let Fitem of mahindraLorries">
         <img [src]="Fitem.imageUrl">
         <h3>{{ Fitem.title }}</h3>

         <p class="fa fa-rupee">{{ Fitem.price }}</p>
         <p>{{Fitem.fueltype}}</p>
         <p>{{Fitem.capacity}}</p>
         <p>{{Fitem.Features}}</p>
         </div>
     </div> 
 </div>    

 <div class="products">
    <div id="card4">
     <h1 class="heading">Eicher Lorry</h1>
    </div> 
     <div class="boxs-container" >
       <div class="boxs" *ngFor="let Eitem of EicherLorries">
         <img [src]="Eitem.imageUrl">
         <h3>{{ Eitem.title }}</h3>
         <p class="fa fa-rupee">{{ Eitem.price }}</p>
         <p>{{Eitem.fueltype}}</p>
         <p>{{Eitem.capacity}}</p>
         <p>{{Eitem.Features}}</p>
         </div>
     </div> 
 </div>    
 <div class="products">
    <div id="card5">
     <h1 class="heading">BharatBenz Lorry</h1>
    </div> 
     <div class="boxs-container" >
       <div class="boxs" *ngFor="let Bitem of bharatBenzLorries">
         <img [src]="Bitem.imageUrl">
         <h3>{{ Bitem.title }}</h3>
         <p class="fa fa-rupee">{{ Bitem.price }}</p>
         <p>{{Bitem.fueltype}}</p>
         <p>{{Bitem.capacity}}</p>
         <p>{{Bitem.Features}}</p>
         </div>
     </div> 
 </div> 
 
 <div class="products">
    <div id="card6">
     <h1 class="heading">VOLVO Lorry</h1>
    </div> 
     <div class="boxs-container" >
       <div class="boxs" *ngFor="let Vitem of volvoLorries">
         <img [src]="Vitem.imageUrl">
         <h3>{{ Vitem.title }}</h3>
         <p class="fa fa-rupee">{{ Vitem.price }}</p>
         <p>{{Vitem.fueltype}}</p>
         <p>{{Vitem.capacity}}</p>
         <p>{{Vitem.Features}}</p>
         </div>
     </div> 
 </div> 
 