<div  class="footer ">
    <div class="footer-section row text-center text-md-start">
        <div class=" col-md-5 ">
          <img src="assets/images/footer-tac-logo.png" alt="tech.at.core" class="img-fluid mb-2"/> 
          <p class="para">You minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.    </p>
        </div>
        <div class="col-md-2">
          <h1>Company</h1>
          <p>Home</p>
          <p>Career</p>
          <p>Testimonials</p>
          <p>Team</p>
        </div>
        <div class=" col-md-2">
          <h1>Services</h1>
          <p>IT & Software</p>
          <p>Consultanting services</p>
        </div>
        <div class=" col-md-3">
          <h1>Contact us</h1>
          <p>Privacy policy</p>
          <p>Terms & conditions</p>
        </div>
      </div>
        <div class="copy">
          <p>Copyright  &#169; 2024 tech.at.core. All Rights Reserved | Privacy policy</p>
          <p>Privacy policy</p>
          <p>Follow us 
            <a href="https://www.linkedin.com/company/techatcore" target="_blank">
              <img src="assets/images/linkedin.png" alt="linkedin" />
            </a>
          
            <img src="assets/images/twitter.png" alt="twitter"/>
        </p>
        </div>
      
</div>
