<nav class="navbar">
    <div class="logo">
      <a routerLink='nav-bar'><img  src="../assets/logo.png" alt="Logo"/></a>
    </div>
    <div class="nav-links">
     <a [routerLink]="['/cars']" routerLinkActive="router-link-active"> Cars</a>
      <a [routerLink]="['/lorries']" routerLinkActive="router-link-active">Lorries</a>
      <a [routerLink]="['/autos']" routerLinkActive="router-link-active">Autos</a>
      <a [routerLink]="['/bikes']" routerLinkActive="router-link-active">Bikes</a>
    </div>
   
</nav>



  